[programs.localnet]
stable_pool = "7ikNrDUaBf1Vk6KUagXzRvEz1Nhsep1PjixcqJH4vdSk"
stable_pool_faucet = "HBdT3RTpVY86wcvYXxetNmLcUczAjSr9JuenadoY8dEV"

[programs.devnet]
stable_pool = "7kKokDY8zXMpWgN8yUrBKqvwoB57vXPhzGDC4dJDvWER"
stable_pool_faucet = "J7UG1WFxyh7EPjKaksaoWYFAymU2gyG2VHQ9mm75X4Tk"

[programs.mainnet]
stable_pool = "7ikNrDUaBf1Vk6KUagXzRvEz1Nhsep1PjixcqJH4vdSk"
stable_pool_faucet = "HBdT3RTpVY86wcvYXxetNmLcUczAjSr9JuenadoY8dEV"

[registry]
url = "https://anchor.projectserum.com"

[provider]
cluster = "localnet"
wallet = "./.config/testUser-super-keypair.json"

[scripts]
admin-panel = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/admin-panel.spec.ts"
analyze = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 analyze/analyze.ts"
saber-test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/saber/saber-test.ts"
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/cdp/cdp.spec.ts"
